PORT=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
JWT_SECRET=


PORT=5006
DB_HOST=localhost
DB_HOST=aws-1-eu-west-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=ecommerce
DB_USER=postgres
DB_USER=postgres.thnozekiyfcecfksfacl
DB_PASSWORD=osman
DB_PASSWORD@=-H$a6$3VYctNd2p
JWT_SECRET=supersecretjwtkey